#experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vh;
    margin-top: 10vh;
    text-align: justify;
  }
  
  #experience > h3 {
    margin: 4vh;
    align-items: center;
  }
  
  #experiences {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }